In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as pl
df = pd.read_csv('census.csv')
df.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861

In [6]:
df['SaleCondition'].unique()

array(['Normal', 'Abnorml', 'Partial', 'AdjLand', 'Alloca', 'Family'],
      dtype=object)

In [4]:
pd.get_dummies(df['MSZoning'])

      C (all)  FV  RH  RL  RM
0           0   0   0   1   0
1           0   0   0   1   0
2           0   0   0   1   0
3           0   0   0   1   0
4           0   0   0   1   0
5           0   0   0   1   0
6           0   0   0   1   0
7           0   0   0   1   0
8           0   0   0   0   1
9           0   0   0   1   0
10          0   0   0   1   0
11          0   0   0   1   0
12          0   0   0   1   0
13          0   0   0   1   0
14          0   0   0   1   0
15          0   0   0   0   1
16          0   0   0   1   0
17          0   0   0   1   0
18          0   0   0   1   0
19          0   0   0   1   0
20          0   0   0   1   0
21          0   0   0   0   1
22          0   0   0   1   0
23          0   0   0   0   1
24          0   0   0   1   0
25          0   0   0   1   0
26          0   0   0   1   0
27          0   0   0   1   0
28          0   0   0   1   0
29          0   0   0   0   1
...       ...  ..  ..  ..  ..
1430        0   0   0   1   0
1431        0   0   0   1   0
1432        0   0   0   1   0
1433        0   0   0   1   0
1434        0   0   0   1   0
1435        0   0   0   1   0
1436        0   0   0   1   0
1437        0   0   0   1   0
1438        0   0   0   0   1
1439        0   0   0   1   0
1440        0   0   0   1   0
1441        0   0   0   0   1
1442        0   1   0   0   0
1443        0   0   0   1   0
1444        0   0   0   1   0
1445        0   0   0   1   0
1446        0   0   0   1   0
1447        0   0   0   1   0
1448        0   0   0   1   0
1449        0   0   0   0   1
1450        0   0   0   1   0
1451        0   0   0   1   0
1452        0   0   0   0   1
1453        0   0   0   1   0
1454        0   1   0   0   0
1455        0   0   0   1   0
1456        0   0   0   1   0
1457        0   0   0   1   0
1458        0   0   0   1   0
1459        0   0   0   1   0

[1460 rows x 5 columns]

In [33]:
a=[]
a.append(df.loc[0:0,'Name'])
a.append(df.loc[1:1,'Name'])
(a[1]=='Iris-setosa').all()

True

In [15]:
#name.append(train_set.loc[val:val,'Name'])
        #print((name[0]=='Iris-setosa').bool())
    #print(name)
    #print(name.count('Iris-virginica'))
    #for nam in name:

[4, 8, 2, 1, 6, 5, 4]

In [2]:
np.random.normal(size=10)

array([ 0.9523342 ,  1.31337401, -1.56800015,  0.83196299,  0.9082947 ,
        0.65853084, -0.19995766,  0.59448111,  0.74868971, -0.30780751])

In [ ]:
df.select_dtypes(include=['object']).isnull().any()
lbl=['Alley','MasVnrType','BsmtCond','BsmtQual','BsmtExposure','BsmtFinType1','BsmtFinType2','FireplaceQu','GarageType','GarageFinish','GarageQual','GarageCond','PoolQC','Fence','MiscFeature']
df.drop(labels=[',axis='columns', inplace=True)